{% extends "base.html" %}
{% load static %}
{% block text %}
{% endblock %}
{% block content %}
<div class="row text-dark" {{ show_hide_attest }}>
    <div class="col">
        {% for i in get_identity %}
        {% for ii in get_prof %}

        REPUBLIQUE DU BURUNDI <br>
        MINISTERE DE L’INTERIEUR <br>
        ET DE LA FORMATION PATRIOTIQUE <br>
        ET DEVELOPPEMENT LOCAL <br>
        MUNICIPALITE DE {{ i.province|upper }} <br>
        COMMUNE URBAINE DE {{ i.city|upper }} <br>
        ZONE DE {{ i.area|upper }} <br>

        <p class="text-center text-dark"><u>ATTESTATION D’IDENTITE COMPLETE N° {{ i.id }} /2020</u></p>

        <p class="text-dark">Je soussigné, {{ i.area.fullname_area_chief }}, Chef de Zone {{ i.area }}, atteste
            par la présente que l’identité complète de Monsieur {{ i.beneficiary.last_name }} {{ i.beneficiary.first_name }}, est le suivant : </p>

                <div class="table-responsive text-outline">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table display data-table text-nowrap dataTable no-footer" id="DataTables_Table_0" role="grid">
                        
                        <tbody>
                            
                        <tr role="row" class="odd" >
                            <td>NOM</td>
                            <td>: {{ i.beneficiary.last_name }}</td>
                        </tr>
                        <tr>
                            <td>PRENOM</td>
                            <td>: {{ i.beneficiary.first_name }}</td>
                        </tr>
                        <tr>
                            <td>NOM DU PERE</td>
                            <td>: {{ ii.father_fullname }}</td>
                        </tr>
                        <tr>
                            <td>NOM  DE  LA MERE</td>
                            <td>: {{ ii.mother_fullname }}</td>
                        </tr>
                        <tr>
                            <td>LIEU ET DATE DE NAISSANCE</td>
                            <td>: {{ ii.birth_area }}, {{ ii.birth_date }}</td>
                        </tr>
                        <tr>
                            <td>COMMUNE</td>
                            <td>: {{ ii.birth_city }}</td>
                        </tr>
                        <tr>
                            <td>PROVINCE</td>
                            <td>: {{ ii.birth_province }}</td>
                        </tr>
                        <tr>
                            <td>NATIONALITE</td>
                            <td>: {{ ii.nationality }}</td>
                        </tr>
                        <tr>
                            <td>ETAT-CIVIL</td>
                            <td>: {{ ii.civil_state }}</td>
                        </tr>
                        <tr>
                            <td>PROFESSION</td>
                            <td>: {{ ii.profession }}</td>
                        </tr>
                        <tr>
                            <td>RESIDENCE ACTUELLE</td>
                            <td>: Zone {{ ii.residence_area }}, Q. {{ ii.residence_district }}</td>
                        </tr>
                            
                        </tbody>
                    </table>
                
                    </div>
                </div>
                <br>
                <p class="text-dark">La présente attestation lui est délivrée au vu de sa Carte  Nationale d’Identité  portant
                        numéro {{ ii.no_identity }}  délivrée  à {{ i.province.area }},  le {{ i.date }}.</p>
    
        <p style="margin-left: 50%;" class="text-center text-dark">Fait à {{ i.province }}, le {{ i.date }}/2020 <br>
            LE CHEF DE ZONE {{ i.area|upper }} <br> {{ i.area.fullname_area_chief }}</p>
        {% endfor %}
        {% endfor %}
    </div>

</div>

{% for v in get_prof %}
<p>Staff is {{ v.staff_member }}</p>
    {% if v.staff_member == True %}
    
    <div class="row">
        <div class="col-12">
            <form action="" method="post">
                {% csrf_token %}
                <p> {{ treated_identity.treated }} Cette attestion est bien rédigé.</p>
                <p> {{ treated_identity.correct }} Cette attestion n'est pas bien rédigé.</p>
                <br>
                
                <input class="btn btn-secondary" type="submit" value="Signaler un avis">
                
            </form>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}
