{% extends "base.html" %}
{% load static %}
{% block text %}
{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        {{ districtForm.as_p }}

        <input class="btn btn-primary" type="submit" value="Ajouter Quartier">
    </form>

<br> <br> 

<div class="row">
    <div class="col">
        <a class="text-secondary" href="{% url 'p' %}"> <u><i>Province</i></u> </a>
    </div>
    <div class="col">
        <a class="text-secondary" href="{% url 'c' %}"> <u><i>Commune</i></u> </a>
    </div>
    <div class="col">
        <a class="text-secondary" href="{% url 'a' %}"> <u><i>Zone</i></u> </a>
    </div>
</div>
{% endblock %}

