
{% extends "base.html" %}
{% load static %}
{% block text %}
{% endblock %}
      {% block content %}
      <div class="container">
            <div class="row">
              <div class="col-lg-12 mx-auto"> <br>
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in cniForm %}
                        <div class="col-lg-6">
                            <div class="input-group mb-3 input-group-lg mx-auto my-4">  
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ field.label }} *</span>
                            </div>
                                {{ field }} <br>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            
                    <input class="btn btn-primary" type="submit" value="Modifier profile">
        
                </form>
            </div>
        </div>
    </div>
{% endblock %}
