{% extends "base.html" %}
{% load static %}
{% block text %}
{% endblock %}
      {% block content %}
      <div class="container">
            <div class="row">
              <div class="col-lg-12 mx-auto"> <br>
      <form action="." method="post">
            {% csrf_token %}
            
            <div class="row" {{ show_hide_form }}>
                {% for field in completeIdentityForm %}
                <div class="col-lg-6">
                    <div class="input-group mb-3 input-group-lg mx-auto my-4">  
                    <div class="input-group-prepend">
                        <span class="input-group-text">{{ field.label }} *</span>
                    </div>
                        {{ field }} <br>
                    </div>
                </div>
                {% endfor %}
            </div>
           

            <div {{ show_hide_attest }}>
                <hr>
                <i class="text-dark">Visualizer avant d'envoyer pour eviter les erreurs !!!</i>
                <hr>
            </div>


            <div class="row text-dark" {{ show_hide_attest }}>
                <div class="col">
                    
                    <!-- Start loop -->
                    {% for ii in get_prof %}

                    REPUBLIQUE DU BURUNDI <br>
                    MINISTERE DE L’INTERIEUR <br>
                    ET DE LA FORMATION PATRIOTIQUE <br>
                    ET DEVELOPPEMENT LOCAL <br>
                    MUNICIPALITE DE {{ province|upper }} <br>
                    COMMUNE URBAINE DE {{ city|upper }} <br>
                    ZONE DE {{ area|upper }} <br>
    
                    <p class="text-center text-dark"><u>ATTESTATION D’IDENTITE COMPLETE N° .... /2020</u></p>
    
                    <p class="text-dark">Je soussigné, {{ area.fullname_area_chief }}, Chef de Zone {{ area }}, atteste
                     par la présente que l’identité complète de Monsieur {{ ii.user.last_name }} {{ ii.user.first_name }}, est le suivant : </p>
    
                          <div class="table-responsive text-outline">
                              <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table class="table display data-table text-nowrap dataTable no-footer" id="DataTables_Table_0" role="grid">
                                    
                                    <tbody>
                                        
                                    <tr role="row" class="odd" >
                                        <td>NOM</td>
                                        <td>: {{ ii.user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>PRENOM</td>
                                        <td>: {{ ii.user.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>NOM DU PERE</td>
                                        <td>: {{ ii.father_fullname }}</td>
                                    </tr>
                                    <tr>
                                        <td>NOM  DE  LA MERE</td>
                                        <td>: {{ ii.mother_fullname }}</td>
                                    </tr>
                                    <tr>
                                        <td>LIEU ET DATE DE NAISSANCE</td>
                                        <td>: {{ ii.birth_area }}, {{ ii.birth_date }}</td>
                                    </tr>
                                    <tr>
                                        <td>COMMUNE</td>
                                        <td>: {{ ii.birth_city }}</td>
                                    </tr>
                                    <tr>
                                        <td>PROVINCE</td>
                                        <td>: {{ ii.birth_province }}</td>
                                    </tr>
                                    <tr>
                                        <td>NATIONALITE</td>
                                        <td>: {{ ii.nationality }}</td>
                                    </tr>
                                    <tr>
                                        <td>ETAT-CIVIL</td>
                                        <td>: {{ ii.civil_state }}</td>
                                    </tr>
                                    <tr>
                                        <td>PROFESSION</td>
                                        <td>: {{ ii.profession }}</td>
                                    </tr>
                                    <tr>
                                        <td>RESIDENCE ACTUELLE</td>
                                        <td>: Zone {{ ii.residence_area }}, Q. {{ ii.residence_district }}</td>
                                    </tr>
                                        
                                    </tbody>
                                </table>
                          
                              </div>
                            </div>
                            <br>
                            <p class="text-dark">La présente attestation lui est délivrée au vu de sa Carte  Nationale d’Identité  portant
                                    numéro {{ ii.no_identity }}  délivrée  à {{ ii.given_place }},  le {{ ii.given_date }}.</p>
              
                    <p style="margin-left: 50%;" class="text-center text-dark">Fait à {{ province }}, le {{ datetime.now }}/2020 <br>
                        LE CHEF DE ZONE {{ area|upper }} <br> {{ area.fullname_area_chief }}</p>
                    <!-- End loop -->
                    {% endfor %}
                </div>
            </div>

            <br>
    
            <button id="previewed" {{ show_hide_preview }} type="submit" class="btn btn-primary" name="handover" value="preview">Preview</button>
            <button id="confirmed" {{ show_hide_confirm }} type="submit" class="btn btn-success" name="handover" value="confirm">Confirm</button>
            <button id="canceled" {{ show_hide_cancel }} type="submit" class="btn btn-danger" name="handover" value="cancel">Cancel</button>

        </form>
        </div>
    </div>
</div>
      {% endblock %}
